{
  "tabWidth": 2,
  "trailingComma": "es5",
  "semi": true,
  "quoteProps": "as-needed",
  "importOrder": [
    "^react$",
    "^next/",
    "<THIRD_PARTY_MODULES>",
    "^@/(features|providers|utils)",
    "^[.]{0,2}/",
    ".svg$",
    "^(?!@/styles).+(.scss|.css)$",
    "^@/styles"
  ],
  "importOrderParserPlugins": ["typescript", "jsx"],
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ]
}
